<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>날씨 정보</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="/css/addWeather.css">
	
</head>
<body>
	<div id="wrap bg-danger">
		<header></header>
		<section class="contents bg-warning d-flex">
			<aside class="bg-info col-2"></aside>
			<section class="bg-success col-12">
				<h3>날씨 입력</h3>
				<div class="d-flex align-items-center justify-content-around">
					날짜<input type="text" class="form-control col-3">
					날씨<select id="weatherSelect" class="form-control col-2">
							<option value="sunny">맑음</option>
							<option value="partlyCloudy">구름조금</option>
							<option value="cloudy">흐림</option>
							<option value="rainy">비</option>
						</select>
					미세먼지<select id="finedust" class="form-control col-2">
						<option value="#">좋음</option>
						<option value="#">보통</option>
						<option value="#">나쁨</option>
						<option value="#">최악</option>
					</select>				
				</div>
			</section>
		</section>
		<footer class="bg-primary d-flex align-items-center">
			<div>
				<img alt="이미지" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTA3MjFfMTUg%2FMDAxNjI2ODMzMDQyOTU2.heCb-MLTqSr6BZgHVUPI1s9ZDJa4RprXYa7lczmzIR0g.GWk3Y2fL1l-fFGxoF9c8GG-l1VXzCM32AN3JFGCYFtQg.PNG.iwebsoft%2F10.png&type=sc960_832" width=150;>		
			</div>
			<div class="text-secondary">
				<small>(07062) 서울시 동작구 여의대방로16길 61</small><br>
				<small>Copyright@2024 KMA. All Rights RESERVED.</small>
			</div>
		</footer>
	</div>
</body>
</html>