<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title>즐겨찾기 추가하기</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
	<h1>즐겨찾기 추가하기</h1>
	<form method="POST" action="/lesson06/add-bookmark">
		<div class="form-group">
			<label for="title">제목</label>
			<input type="text" class="form-control" id="title" name="title">
		</div>
		<div class="form-group">
			<label for="address">주소</label>
			<input type="text" class="form-control" id="address" name="address">
		</div>
		<input type="button" id="joinBtn" class="btn btn-success form-control" value="추가">
	</form>
	
	<script>
		$(document).ready(function(){
			$("#joinBtn").on('click',function(){
				
				let title = $("#title").val().trim();
				if (!title){
					alert("제목을 입력해주세요");
					return;
				}
				
				let address = $("#address").val().trim();
				if (!address){
					alert("주소를 입력해주세요");
					return;
				
				}
				
				alert("확인");
			});
		});
	</script>
</body>
</html>